<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsDkOzXqwTpiO0lqW9TPsuGG9S7OsJOdo</string>
	<key>GCM_SENDER_ID</key>
	<string>77044232329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DSStudio.Game03</string>
	<key>PROJECT_ID</key>
	<string>unity-e69f2</string>
	<key>STORAGE_BUCKET</key>
	<string>unity-e69f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77044232329:ios:baff64c43d7aafa1465658</string>
</dict>
</plist>